$primary = #290266
$secondary = #5a2f95
$dark = #0a003b
$black = #12002C
$grayDark = #C1C1C1
$accent = #30E6FC
$grayLigth = #FFFFFF
$bg-body   = rgba(0,0,0,.25)

.text-primary
  color: $primary !important
:root
  --q-primary #290266 !important
  --q-secondary #5a2f95 !important
  --q-accent #30E6FC !important
  --q-dark #1D1D1D !important
  --q-light #6bf299 !important
  --q-positive #21BA45 !important
  --q-negative #C10015 !important
  --q-info #31CCEC !important
  --q-warning #fcd945 !important