// current size ends
$breakpoint-xs = 400px
$breakpoint-sm = 600px
$breakpoint-md = 900px
$breakpoint-lg = 1200px

// $sizes = ('xs' = 0, 'sm' = ($breakpoint-xs + 1), 'md' = ($breakpoint-sm + 1), 'lg' = ($breakpoint-md + 1), 'xl' = ($breakpoint-lg + 1))
$size-xs = $breakpoint-xs
$size-sm = $breakpoint-sm
$size-md = $breakpoint-md
$size-lg = $breakpoint-lg

$breakpoint-xs-max = $size-sm

$breakpoint-sm-min = $size-sm
$breakpoint-sm-max = $size-md

$breakpoint-md-min = $size-md
$breakpoint-md-max = $size-lg

$breakpoint-lg-min = $size-lg
$breakpoint-lg-max = $size-xl

$breakpoint-xl-min = $size-xl
