<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="keywords" content="HASHED">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://hashed.club/">
    <meta property="og:title" content="Hashed Portal">
    <meta property="og:description" content="hashed.club">
    <meta property="og:image" content="https://hashed.club/images/desktop-preview.png">
    <meta property="og:image:width" content="350">
    <meta property="og:image:height" content="142">
    <!-- <meta property="og:image" name="og:image" content="https://hashed.club/images/desktop-preview.png" data-qmeta="ogImage"> -->

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://hashed.club/">
    <meta property="twitter:title" content="Hashed Portal">
    <meta property="twitter:description" content="hashed.club">
    <meta property="twitter:image" content="https://hashed.club/images/desktop-preview.png">


    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">
    <link rel="icon" type="image/png" sizes="128x128" href="icons/android-chrome-512x512.png">
    <link rel="icon" type="image/png" sizes="96x96" href="icons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
    <link rel="icon" type="image/ico" href="favicon.ico">
    <!-- <link rel="stylesheet" type="text/css" href="css/app.styl">
    <link rel="stylesheet" type="text/css" href="css/quasar.variables.styl"> -->
    <!-- Custom icons for satoshi -->
    <script src="https://kit.fontawesome.com/090ca49637.js" crossorigin="anonymous"></script>
    <!-- Disable default events -->
    <script type="text/javascript" src="https://unpkg.com/default-passive-events"></script>
    <meta name="google-signin-client_id" content="281519001757-5694ukk11kka29kcmq7ifdk6e4ci26dd.apps.googleusercontent.com">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="https://apis.google.com/js/api.js" async defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js"></script>
  </head>
  <body style="background-color: rgba(0,0,0,.05);">
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>

<style lang="stylus">
  /* @import '~/css/colors.styl' */
  /* @import 'css/quasar.variables.styl' */
</style>
